header {
  height: 120vh;
  padding-top: 7rem;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ==================  CTA ================ */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ==================  HEADER SOCIALS ================ */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 0.8rem;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* ==================  ME ================ */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 3rem;
  border-radius: 12rem 12rem 5rem 5rem;
  overflow: hidden;
  padding: 0 0.5rem 0.7rem 0.5rem;
}

.img-me {
  position: absolute;
  width: 23rem;
  left: 0;
}

/* =================== MEDIA QUERIES  (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1024px) {
  header {
    height: 80vh;
  }

  .me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 3rem;
    overflow: hidden;
    padding: 0 0.5rem 0.7rem 0.5rem;
    padding: -1rem -1rem 1rem 1rem;
  }

  .img-me {
    width: 24rem;
    position: absolute;
    left: 0;
  }
}

/* =================== MEDIA QUERIES  (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
  header {
    height: 150vh;
    padding-top: 3rem;
  }

  .me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 3rem 3rem;
    overflow: hidden;
    padding: 0 0.5rem 0.7rem 0.5rem;
  }

  .img-me {
    width: 24rem;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 120vh;
    padding-top: 3rem;
  }

  .me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 16rem;
    height: 25rem;
    position: absolute;
    left: calc(50% - 8rem);
    margin-top: 3rem;
    border-radius: 12rem 12rem 5rem 5rem;
    overflow: hidden;
    padding: 0 0.5rem 0.7rem 0.5rem;
  }

  .img-me {
    width: 20rem;
    position: absolute;
    top: 0;
    left: -10px;
  }
}
